/********** ENTETE ************/
.entete {position: relative; z-index: 9; display: flex;}
.logo {
    padding: 15px;
    max-width: 220px;
}
.logo img {
    max-height: 80px;
}
.navbar-toggler {
    padding: .2rem .5rem;
    font-size: 1.2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #9e9e9e !important;
    border-radius: 0; margin-top: 5px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
}
.menu-search {
    width: calc(100% - 220px);
    background: #ffffff;
    height: 80px;
}
ul.langues-social {margin-top: .5rem; margin-bottom: .5rem;}
ul.langues-social li.social img {
    height: 12px; margin: 0;
}
ul.langues-social li.langues {
    border-right: solid 1px #efefef; padding-right: 5px;
    width: 70px; line-height: 22px;
}
ul.langues-social li.langues a{
    color: #666666; font-size: 12px;
}
ul.langues-social li.langues a img{
    height: 14px; margin-right: 2px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .65rem;
    padding-left: .65rem;
}
.navbar .navbar-nav li {}
.navbar .navbar-nav li a{
    font-size: 13px;
    font-weight: 500;
}

.search * {
    outline: none;
    box-sizing: border-box;
}
.search__wrapper {
    position: relative;
}
.search__field {
    font-size: 15px;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    border-bottom-color: #ccc;
    color: #2b2b2b;
    cursor: default;
}
.search__field ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
}
.search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    border-color: transparent;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

/*General*/


a {text-decoration: none;}
/********** Backgroud et shadows ************/
.bg-orange {background-color: #F7A031 !important;}
.bg-blue {background-color: #154A80 !important;}
.bg-teal {background-color: #3EB7BA !important;}
.color-orange {color: #F7A031 !important;}
.color-blue {color: #154A80 !important;}
.color-teal {color: #3EB7BA !important;}
.bg-gray-1 {background-color: #f3f6f8 !important;}
.titre4 {
    color: #222222;
    font-size: 18px;
}
.titre2 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 15px;
}
.small-1{font-size: 10px; color: #666666; font-weight: 300;}
.small-2{font-size: 11px; color: #666666; font-weight: 300;}
.small-3{font-size: 12px; color: #666666; font-weight: 300;}
.shadow-1 {
    box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
    -moz-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1);
}
.shadow-2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.shadow-bottom-1 {
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.btn img {height: 14px;}
.btn-sm {font-size: 12px;}
.btn {
    border-radius: 0; padding: .25rem .8rem;
}
.btn-primary {
    color: #fff;
    background-color: #114982;
    border-color: #114982;
}





/******** Investisseur ********/
.investisseurs {
    background: #F5F5F5;
    padding: 20px 30px;
}
.investisseurs h2{
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 15px;
}
.investisseurs .un-ivestisseur{
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    min-width: 148px;
}
.investisseurs .un-ivestisseur img{
    height: 48px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.investisseurs .un-ivestisseur .nom-inv{
    font-size: 13px;
    font-weight: bold;
    color: #444;
    line-height: 17px;
}
.investisseurs .un-ivestisseur p{
    font-size: 14px;
    color: #666;
}
.investisseurs .un-ivestisseur .montant{
    font-size: 16px;
    font-weight: 500;
    color: #6DA544;
}
.investisseurs .un-ivestisseur .montant-pct{
    font-size: 16px;
    font-weight: 500;
    color: #6DA544;
}
.barres-progression .progress {height: 25px; border-radius: 0;}
.barres-progression p {
    font-size: 14px;
    color: #666666;
}

/********** tabs ************/
.tab-wrap {
    -webkit-transition: 0.3s box-shadow ease;
    border-radius: 0;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    border: solid 1px #efefef;
}
.tab { display: none; }
.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 0;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab-content:nth-of-type(5) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label { border-radius: 0; }
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    border-top: solid 3px #f9a11a;
    border-radius: 0;
    font-weight: 500;
    color: #666;
}
.tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}

.tab + label {
    box-shadow: 0 -1px 0 #f5f5f5 inset;
    border-radius: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #9f9f9f;
    text-align: center;
    background-color: #f5f5f5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 300;
}
.tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab-content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    border-radius: 6px;
}
.tab-content h3{
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}
.tab-content p{
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    text-align: justify;
    margin-bottom: 30px;
}
.projet-contacts .media> img {max-width: 140px;}
.projet-contacts .media p img {height: 12px;}




/******** Galerie Photo ********/
a.lightbox img {
    height: auto;
    max-width: 100%;
}
.lightbox-target {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    z-index: 99;
}
.lightbox-target img {
    margin: 50px auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    background: #222222;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    background: #222222;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}
.lightbox-target:target img {
    max-height: calc(100vh - 100px);
    max-width: 100%;
}
.lightbox-target:target a.lightbox-close {
    top: 0;
}

/****** nombre de vue et reseaux sociaux ******/
.nb-vues {}
.nb-vues .vues{}
.social img {height: 36px; margin-left: 5px;}


/********* Projets similaires *********/
.projets-similaires {}
.projets-similaires .un-projet-similaire{margin-bottom: 30px;}
.projets-similaires .un-projet-similaire .image {
    position: relative; display: flex;
}
.projets-similaires .un-projet-similaire .image img {
    max-width: 100%;
}
.projets-similaires .un-projet-similaire .image span.pays{
    background: rgba(17, 73, 130, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 0 8px;
}
.projets-similaires .un-projet-similaire .image span.pays a{
    text-decoration: none;
    color: #fff;
}
.projets-similaires .un-projet-similaire .image span.pays img{
    height: 13px;
    margin-right: 2px;
}
.projets-similaires .un-projet-similaire .infos {
    padding: 7px 10px 15px;
    border: solid 1px #efefef;
    border-top: none;
}
.projets-similaires .un-projet-similaire .infos .titre-projet a{
    font-size: 14px;
    font-weight: 600;
    color: #154A80;
    text-decoration: none;
}
.projets-similaires .un-projet-similaire .infos .date{margin-bottom: 3px;}
.projets-similaires .un-projet-similaire .infos .date img,
.projets-similaires .un-projet-similaire .infos .secteur img{
    height: 13px;
    margin-right: 3px;
}
.projets-similaires .un-projet-similaire .infos .secteur a{text-decoration: none; color: #666666;}
.projets-similaires .un-projet-similaire .infos .secteur a:hover{color: #f9a11a;}

/***** footer *****/
.footer-menu ul li a {
    font-size: 12px; color: #666666; padding: 2px 10px; text-decoration: none;
}
.footer-menu ul li a:hover {
    color: #f9a11a;
}
.footer-copy {
    border-top: solid 1px #eaeaea; line-height: 22px;
}
.footer-copy .social img {
    height: 12px;
}
.footer-copy .social ul{margin: 0}
.footer-copy .social ul li {
    margin: 0;
}


