<div class="container-fluid">
  <div class="row">
    <div class="col pl-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">{{ 'Accueil' | translate}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ 'Projets' | translate}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 class="projet-title">
        {{projetSelected.nomProjet}}
      </h1>
      <div *ngIf="projetSelected.objectifGeneral !== '';then objectifGeneralSuccess else objectifGeneralNull"></div>
      <ng-template #objectifGeneralSuccess>
        <p class="resume mb-5">{{projetSelected.objectifGeneral}}</p>
      </ng-template>
      <ng-template #objectifGeneralNull>
        <p class="resume mb-5">Description du projet non renseigné</p>
      </ng-template>
      <div class="row">
        <div class="col-md-6">
          <div class="liste-caracteristiques mb-4">
            <ul class="m-0 p-0">
              <li>
                <span>{{'Secteur' | translate}} :</span>
                <p class="mb-0" *ngFor="let sect of projetSelected.secteurs">
                  {{sect.libelle}} &nbsp;
                </p>
              </li>
              <li>
                <span>{{ 'Pays' | translate}} :</span>
                <p class="mb-0" *ngFor="let p of projetSelected.pays">{{p.nomPays}}</p>
                <img class="drapeau-pays" src={{drapeau}} alt="">
              </li>
              <li>
                <span>{{ 'Etat' | translate}} :</span>
                <div *ngIf="projetSelected.statut !== null;then statutSuccess else statutNull"></div>
                <ng-template #statutSuccess>
                  <p class="mb-0"> {{projetSelected.statut}} </p>
                </ng-template>
                <ng-template #statutNull>
                  <p class="mb-0">Non renseigné</p>
                </ng-template>
              </li>
              <li>
                <span>Date d’approbation :</span>
                <div *ngIf="projetSelected.dateApprobation !== null;then dateApprobationSuccess else dateApprobationNull"></div>
                <ng-template #dateApprobationSuccess>
                  <p class="mb-0"> {{projetSelected.dateApprobation | date : 'dd/MM/yyyy'}} </p>
                </ng-template>
                <ng-template #dateApprobationNull>
                  <p class="mb-0">Non renseigné</p>
                </ng-template>
              </li>
              <li>
                <span>Date de cloture :</span>
                <div *ngIf="projetSelected.dateClotureEff !== null;then dateClotureEffSuccess else dateClotureEffNull"></div>
                <ng-template #dateClotureEffSuccess>
                  <p class="mb-0"> {{projetSelected.dateClotureEff | date : 'dd/MM/yyyy'}} </p>
                </ng-template>
                <ng-template #dateClotureEffNull>
                  <p class="mb-0">Non renseigné</p>
                </ng-template>
              </li>
              <li>
                <span>Coût total du projet :</span>
                <div *ngIf="projetSelected.budjetProjet !== null;then budgetProjetSuccess else budgetProjetNull"></div>
                <ng-template #budgetProjetSuccess>
                  <p>{{projetSelected.budjetProjet | currency:'USD':'symbol'}} </p>
                </ng-template>
                <ng-template #budgetProjetNull>
                  <p class="mb-0">Non renseigné</p>
                </ng-template>
              </li>
              <li>
                <span>Coordonnateur du projet :</span>
                <div *ngIf="projetSelected.coordonnateurProjet !== null;then coordonnateurProjetSuccess else coordonnateurProjetNull"></div>
                <ng-template #coordonnateurProjetSuccess>
                  <p>{{projetSelected.coordonnateurProjet}} </p>
                </ng-template>
                <ng-template #coordonnateurProjetNull>
                  <p class="mb-0">Non renseigné</p>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="docs-projet mb-4">
            <h3>Derniers documents du projet</h3>
            <ul class="list-derniers-docs p-0">
              <li>
                <p class="titre-doc mb-0">
                  Senegal/AFRICA- P164262- Senegal Rural Water Supply and Sanitation Project - Procurement Plan ()
                </p>
                <p class="infos-doc mb-0 d-flex">
                  <span class="date flex-shrink-0"><img src="../../assets/img/calendar.svg" alt="">14 juin 2017</span>
                  <span class="download color-blue"><img src="../../assets/img/download.svg" alt="">Télécharger</span>
                </p>
              </li>
              <li>
                <p class="titre-doc mb-0">
                  Urban Water and Sanitation Project : additional financing - environmental assessment : Cadre de
                  gestion environmentale et sociale ()
                </p>
                <p class="infos-doc mb-0 d-flex">
                  <span class="date flex-shrink-0"><img src="../../assets/img/calendar.svg" alt="">14 juin 2017</span>
                  <span class="download color-blue"><img src="../../assets/img/download.svg" alt="">Télécharger</span>
                </p>
              </li>
            </ul>
            <p class="text-right">
              <a href="#" class="see-more color-blue">{{ 'Voirtouslesdocuments' | translate}} <img src="../../assets/img/chevron-double.svg"
                  alt=""></a>
            </p>
          </div> <!-- End documents projets -->
        </div>
      </div>

      <div class="row mb-4" id="galerie">
        <div class="col">
          <h4 class="mt-md-4 mb-2 titre4">{{ 'Galerie' | translate}} :</h4>
          <div class="bg-gray-1 p-3 galerie">
            <div class="row">
              <div class="d-flex px-2">
                <div class="une-image px-2">
                  <a class="lightbox" href="#gal1">
                    <img src="../../assets/img/gal1.jpg" />
                  </a>
                  <div class="lightbox-target" id="gal1">
                    <img src="../../assets/img/gal1.jpg" />
                    <a class="lightbox-close" href="#galerie"></a>
                  </div>
                </div>
                <div class="une-image px-2">
                  <a class="lightbox" href="#gal2">
                    <img src="../../assets/img/gal2.jpeg" />
                  </a>
                  <div class="lightbox-target" id="gal2">
                    <img src="../../assets/img/gal2.jpeg" />
                    <a class="lightbox-close" href="#galerie"></a>
                  </div>
                </div>
                <div class="une-image px-2">
                  <a class="lightbox" href="#gal3">
                    <img src="../../assets/img/gal3.jpeg" />
                  </a>
                  <div class="lightbox-target" id="gal3">
                    <img src="../../assets/img/gal3.jpeg" />
                    <a class="lightbox-close" href="#galerie"></a>
                  </div>
                </div>
                <div class="une-image px-2">
                  <a class="lightbox" href="#gal4">
                    <img src="../../assets/img/gal4.jpeg" />
                  </a>
                  <div class="lightbox-target" id="gal4">
                    <img src="../../assets/img/gal4.jpeg" />
                    <a class="lightbox-close" href="#galerie"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4 pt-3">
        <div class="col-md-4">
          <div class="nb-vues">
            <span class="d-block small-2">Nombre de lecture :</span>
            <span class="vues font-weight-bold color-blue">12345</span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="social d-flex justify-content-end">
            <div><img src="../../assets/img/ic_share.svg" class="mr-2" alt=""></div>
            <div><a href="#"><img src="../../assets/img/facebook.svg" alt=""></a></div>
            <div><a href="#"><img src="../../assets/img/twitter.svg" alt=""></a></div>
            <div><a href="#"><img src="../../assets/img/google-plus.svg" alt=""></a></div>
            <div><a href="#"><img src="../../assets/img/linkedin.svg" alt=""></a></div>
            <div><a href="#"><img src="../../assets/img/instagram.svg" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>

    <!----partie droite---->
    <div class="col-md-6">
      <div class="investisseurs mb-4">
        <h2>INVESTISSEURS :</h2>
        <div class="row">
          <div class="col-sm-4 col-12 col-md-4 px-2 mb-3" *ngFor="let acteur of projetSelected.financements">
            <div class="un-ivestisseur shadow-2">
              <div class="d-flex">
                <img src={{acteur.acteurFinancement.urlLogo}} alt="">
                <span class="nom-inv">{{acteur.acteurFinancement.nomActeur}}</span>
              </div>
              <p class="mb-0">
                <span class="montant">{{acteur.montant}}&nbsp;{{acteur.devise}}</span> soit <span class="montant-pct">45%</span>
              </p>
            </div>

          </div>
          <!--  <div class="col-sm-4 col-12 col-md-4 px-2 mb-3">
            <div class="un-ivestisseur shadow-2">
              <div class="d-flex">
                <img src="../../assets/img/bm.svg" alt="">
                <span class="nom-inv">BANQUE MONDIALE</span>
              </div>
              <p class="mb-0">
                <span class="montant">290 M$</span> soit <span class="montant-pct">35%</span>
              </p>
            </div>
          </div>
          <div class="col-sm-4 col-12 col-md-4 px-2 mb-3">
            <div class="un-ivestisseur shadow-2">
              <div class="d-flex">
                <img src="../../assets/img/bad.svg" alt="">
                <span class="nom-inv">BAD</span>
              </div>
              <p class="mb-0">
                <span class="montant">110 M$</span> soit <span class="montant-pct">20%</span>
              </p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="barres-progression mb-5">
        <p class="mb-1">Etat d’avancement du projet :</p>
        <div class="progress mb-3">
          <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="width:50%">50%</div>
        </div>
        <p class="mb-1">Taux de décaissement :</p>
        <div class="progress mb-3">
          <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="85" aria-valuemin="85" aria-valuemax="100"
            style="width:85%">85% (880 M$)</div>
        </div>
      </div>

      <div class="details-proj-tabs clearfix">
        <div class="tab-wrap">
          <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
          <label for="tab1">Général</label>
          <input type="radio" id="tab2" name="tabGroup1" class="tab">
          <label for="tab2">Composantes</label>
          <!-- <input type="radio" id="tab3" name="tabGroup1" class="tab">
          <label for="tab3">Résultat</label> -->
          <input type="radio" id="tab3" name="tabGroup1" class="tab">
          <label for="tab3">Contacts</label>
          <input type="radio" id="tab4" name="tabGroup1" class="tab">
          <label for="tab4">Indicateurs</label>
          <input type="radio" id="tab6" name="tabGroup1" class="tab">
          <label for="tab6">Informations Additionnelles</label>
          <div class="tab-content">
            <h3>Description</h3>
            <div *ngIf="projetSelected.descriptionProjet !== null;then descriptionProjetSuccess else descriptionProjetNull"></div>
            <ng-template #descriptionProjetSuccess>
              <p>{{projetSelected.descriptionProjet}}</p>
            </ng-template>
            <ng-template #descriptionProjetNull>
              <p class="text-center">Description du projet non renseigné</p>
            </ng-template>
            <h3>Objectifs Spécifiques</h3>
            <p *ngFor="let obj of projetSelected.objectifSpecs">
              - &nbsp;{{obj.libelle}}
            </p>
            <h3>Cibles du projet</h3>
            <p *ngFor="let obj of projetSelected.ciblesProjets">
              - &nbsp;{{obj.nomCible}}
            </p>
          </div>
          <div class="tab-content">
            <h3>Composantes</h3>
            <div *ngIf="projetSelected.composantes.length > 0 ;then composantesSuccess else composantesNull"></div>
            <ng-template #composantesSuccess>
              <div class="row">
                <div class="col-md-12">
                  <div class="liste-caracteristiques mb-4">
                    <ul class="m-0 p-0">
                      <li>
                        <ul *ngFor="let comp of projetSelected.composantes;first as isFirst">
                          <div class="row">
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Libelle' | translate}} :</span>
                                <p class="mb-0">
                                  {{comp.libelle}}
                                </p>
                              </li>
                            </div>
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Description' | translate}} :</span>
                                <p class="mb-0">
                                  {{comp.description}}
                                </p>
                              </li>
                            </div>
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Montant' | translate}} :</span>
                                <p class="mb-0">
                                  {{comp.montant}}
                                </p>
                              </li>
                            </div>

                          </div>


                        </ul>

                      </li>


                    </ul>
                  </div>
                </div>
              </div>
              <!--div class="projet-contacts">
                <div class="media mb-4" *ngFor="let comp of projetSelected.composantes">
                  <img class="mr-3" src="../../assets/img/contact1.png" alt="">
                  <div class="media-body">
                    <h5 class="mt-0 titre2 mb-1">{{comp.nom}} {{comp.prenom}}</h5>
                    <p class="small-1 mb-3">Coordonnateur</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_call-jaune.svg" alt=""> {{comp.telephone}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_email-jaune.svg" alt="">
                      {{comp.mail}}</p>
                  </div>
                </div>
              </div>-->
            </ng-template>
            <ng-template #composantesNull>
              <div class="projet-contacts">
                <p class="text-center">Pas de composantes</p>
              </div>
            </ng-template>
          </div>
          <!--  <div class="tab-content">
            <h3>Résultat</h3>
            <div *ngIf="projetSelected.composantes ;then composantesSuccess else composantesNull"></div>
            <ng-template #composantesSuccess>
              <div class="projet-contacts">
                <div class="media mb-4" *ngFor="let comp of projetSelected.composantes">
                  <img class="mr-3" src="../../assets/img/contact1.png" alt="">
                  <div class="media-body">
                    <h5 class="mt-0 titre2 mb-1">{{comp.nom}} {{comp.prenom}}</h5>
                    <p class="small-1 mb-3">Coordonnateur</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_call-jaune.svg" alt=""> {{comp.telephone}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_email-jaune.svg" alt="">
                      {{comp.mail}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #composantesNull>
              <div class="projet-contacts">
                <p class="text-center">Pas de composantes</p>
              </div>
            </ng-template>
          </div> -->
          <div class="tab-content">
            <h3>Experts</h3>
            <div *ngIf="projetSelected.experts.length > 0 ;then expertsSuccess else expertsNull"></div>
            <ng-template #expertsSuccess>
              <div class="projet-contacts">
                <div class="media mb-4" *ngFor="let expert of projetSelected.experts">
                  <img class="mr-3" src="../../assets/img/contact1.png" alt="">
                  <div class="media-body">
                    <h5 class="mt-0 titre2 mb-1">{{expert.prenom}} {{expert.nom}}</h5>
                    <p class="small-1 mb-3">{{expert.pays.nomPays}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_call-jaune.svg" alt=""> {{expert.telephone}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_email-jaune.svg" alt="">
                      {{expert.mail}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #expertsNull>
              <div class="projet-contacts">
                <p class="text-center">Pas d'expert répertorié</p>
              </div>
            </ng-template>

            <h3>Autres Contacts</h3>
            <div *ngIf="projetSelected.contacts.length > 0 ;then contactSuccess else contactNull"></div>
            <ng-template #contactSuccess>
              <div class="projet-contacts">
                <div class="media mb-4" *ngFor="let contact of projetSelected.contacts">
                  <img class="mr-3" src="../../assets/img/contact1.png" alt="">
                  <div class="media-body">
                    <h5 class="mt-0 titre2 mb-1">{{contact.nom}} {{contact.prenom}}</h5>
                    <p class="small-1 mb-3">{{contact.structure}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_call-jaune.svg" alt=""> {{contact.telephone}}</p>
                    <p class="small-1 mb-1"><img src="../../assets/img/ic_email-jaune.svg" alt="">
                      {{contact.mail}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #contactNull>
              <div class="projet-contacts">
                <p class="text-center">Pas de contacts</p>
              </div>
            </ng-template>

          </div>
          <div class="tab-content">
            <h3>Indicateurs du projet</h3>

            <div *ngIf="projetSelected.indicateurs.length > 0;then indicateursProjetSuccess else indicateursProjetNull"></div>
            <ng-template #indicateursProjetSuccess>
              <div class="row">
                <div class="col-md-12">
                  <div class="liste-caracteristiques mb-4">
                    <ul class="m-0 p-0">
                      <li>
                        <ul *ngFor="let ind of projetSelected.indicateurs;first as isFirst">
                          <div class="row">
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Libelle' | translate}} :</span>
                                <p class="mb-0">
                                  {{ind.nomIndicateurs}}
                                </p>
                              </li>
                            </div>
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Valeur de Référence' | translate}} :</span>
                                <p class="mb-0">
                                  {{ind.valeurRef}}
                                </p>
                              </li>
                            </div>
                            <div class="col-md-4">
                              <li>
                                <span *ngIf="isFirst">{{'Valeur Cible' | translate}} :</span>
                                <p class="mb-0">
                                  {{ind.valeurCible}}
                                </p>
                              </li>
                            </div>

                          </div>


                        </ul>

                      </li>


                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #indicateursProjetNull>
              <p class="text-center">Aucun indicateur renseigné </p>
            </ng-template>

          </div>

          <div class="tab-content">
            <h3>Resultat3</h3>
            <div *ngIf="projetSelected.infosAdds.length > 0;then infosProjetSuccess else infosProjetNull"></div>
            <ng-template #infosProjetSuccess>
              <div class="row">
                <div class="col-md-12">
                  <div class="liste-caracteristiques mb-4">
                    <ul class="m-0 p-0">
                      <li>
                        <ul *ngFor="let info of projetSelected.infosAdds;first as isFirst">
                          <div class="row">
                            <div class="col-md-6">
                              <li>
                                <span *ngIf="isFirst">{{'Libelle' | translate}} :</span>
                                <p class="mb-0">
                                  {{info.nomInfoAdd}}
                                </p>
                              </li>
                            </div>
                            <div class="col-md-6">
                              <li>
                                <span *ngIf="isFirst">{{'Valeur' | translate}} :</span>
                                <p class="mb-0">
                                  {{info.valeurInfoAdd}}
                                </p>
                              </li>
                            </div>

                          </div>


                        </ul>

                      </li>


                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #infosProjetNull>
              <p class="text-center">Aucune information additionnelle</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<app-similar-projects></app-similar-projects>-->
</div>
