<div class="row">
  <div class="col-12">
      <div class="footer-menu mt-4">
          <ul class="list-inline text-center">
              <li class="list-inline-item"><a href="#">{{'Apropos' | translate}}</a></li>
              <li class="list-inline-item"><a href="#">{{'Aide' | translate}}</a></li>
              <li class="list-inline-item"><a href="#">{{'Termesconditions' | translate}}</a></li>
              <li class="list-inline-item"><a href="#">{{ 'InformationsRevues' | translate}}</a></li>
          </ul>
      </div>
  </div>
  <div class="col-12">
      <div class="footer-copy py-3">
          <div class="row">
              <div class="col-sm-8">
                  <p class="copyright small-3 mb-0">© Copyright 2018 <span class="font-weight-bold color-orange">IP3CONSEIL</span> - {{'Designepar' | translate}} <span class="font-weight-bold">YOUKC</span> - {{'Developpepar' | translate}}  <span class="font-weight-bold">FS-PO-MN</span> </p>
              </div>
              <div class="col-sm-4">
                  <div class="social text-right">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="#"><img src="../../assets/img/facebook-f.svg" alt=""></a></li>
                          <li class="list-inline-item"><a href="#"><img src="../../assets/img/twitter-f.svg" alt=""></a></li>
                          <li class="list-inline-item"><a href="#"><img src="../../assets/img/google-plus-f.svg" alt=""></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>