/***** personnalisation multiselect ****/

.multiselect-clear-filter {
  padding: 2px;
  font-size: 13px;
  color: #666666;
}

.multiselect-filter .input-group .input-group-addon {
  padding: 2px 5px;
}

.multiselect-filter .input-group .input-group-btn button {
  padding: 3px;
}

.multiselect-filter .input-group i {
  color: #666666;
}

.multiselect-filter .input-group input {
  max-width: 100px;
}

.filtres form {
  background: #ffffff;
  padding: 0 8px;
  max-width: 94%;
  position: absolute;
  z-index: 9;
  margin-left: 3%;
  margin-top: 30px;
}

input.multiselect-search {
  font-size: 12px;
  font-weight: 300;
  height: 30px;
}

.multiselect-container>li>a {
  padding: 0;
  display: inline-block;
  text-decoration: none;
  color: #666;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
  line-height: 15px;
  font-size: 13px;
  text-align: left;
  font-weight: 300;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -30px;
  margin-right: 0;
  width: 20px;
}

ul.multiselect-container {
  top: -1px;
  left: 4px;
  will-change: transform;
  border-radius: 0;
  padding-bottom: 7px;
}

.btn.multiselect {
  border: solid 1px #ccc;
  margin: 0 5px;
}

.btn.multiselect span.multiselect-selected-text {
  font-size: 13px;
  color: #666;
  font-weight: 300;
}

.multiselect-container>li>a>label.radio input {
  margin-right: 3px;
}

.multiselect-container>li>a>label.radio {
  padding: 3px 20px 3px 9px;
  font-size: 12px;
  font-weight: 300;
}

.box .dropdown-menu[x-placement^=bottom],
.box .dropdown-menu[x-placement^=left],
.box .dropdown-menu[x-placement^=right],
.box .dropdown-menu[x-placement^=top] {
  right: -18px !important;
  left: auto !important;
}

/****** Graph ******/
#chartjs-legend li {
  cursor: pointer;
  margin: 10px 4px;
}

#chartjs-legend li span {
  position: relative;
  padding: 6px 20px;
  border-radius: 13px;
  color: white;
  z-index: 2;
}

.box-header h4 {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}

.filtres .btn {
  border-radius: 0;
  padding: 2px 10px;
}

.stats .box .barres-progression p {
  color: #888;
  font-size: 13px;
  font-weight: 300;
}

.barres-progression .progress {
  height: 25px;
  border-radius: 0;
}

.barres-progression .progress-min {
  height: 6px;
  border-radius: 0;
}

.barres-progression p {
  font-size: 14px;
  color: #666666;
}

.box-header .custom-select {
  border-radius: 0;
  height: auto;
  padding: 5px 25px 5px 10px;
  font-size: 13px;
}

.montant-des-investissement {
  padding: 15px;
}

.montant-des-investissement span.montant {
  color: #6DA544;
  font-size: 18px;
  font-weight: 300;
  display: block;
  line-height: 20px;
}

.montant-des-investissement span.par-qui {
  color: #0b4884;
  font-size: 14px;
  font-weight: bold;
}

/******** google map ******/
#map_container {
  position: relative;
  padding-top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#fmap {
  width: 100%;
  height: 100%;
  min-height: 800px;
}


.marker-cluster {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4f615a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #56C498;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7d7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #C9C9C9
}

:host {
  display: flex;
  flex: 1;
}

mgl-map {
  height: 100%;
  padding: 0;
}
